@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    
</div>
<p>&nbsp</p>

@using (Html.BeginForm())
{
    <input name="pvm" type="text" />
    <input id="Submit1" type="submit" value="Lähetä" />
}

<p>&nbsp</p>
@if (ViewBag.Päivämäärä != null)
{
    <pre>@ViewBag.Päivämäärä</pre>
}